<div class="login">
  <div class="login-form">
    <h2>Login</h2>
    <div class="login-email">
      <label>
        <p>email</p>
        <input type="text" [(ngModel)]="email" />
      </label>
    </div>
    <div class="login-password">
      <label>
        <p>password</p>
        <input type="text" [(ngModel)]="password" />
      </label>
    </div>
    <div class="login-forgot-password-submit">
      <a>Forgot password</a>
      <button type="submit" (click)="login()">Login</button>
    </div>
  </div>
</div>
