.breadcrumbs {
  height: 80px;
  line-height: 5;
  margin-left: 150px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__return-link {
  color: black;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: orange;
  }
}
