<div class="courses">
  <div class="courses-search">
    <input type="text" placeholder="Text to search" [(ngModel)]="searchText" />
    <button (click)="onFind()">Search</button>
  </div>
  <div class="courses-items">
    <button class="courses-items-add-corse">+ Add course</button>
    <div class="courses-items-list">
      <app-course
        *ngFor="let course of courses"
        [course]="course"
        (deleteById)="deleteCourseById($event)"
      ></app-course>
    </div>
  </div>
</div>
