<div class="courses">
  <div class="courses-search">
    <input type="text" placeholder="Text to search" [(ngModel)]="searchText" />
    <button (click)="onFind()">Search</button>
  </div>
  <div class="courses-items">
    <button class="courses-items-add-corse" (click)="addNewCourse()">
      + Add course
    </button>
    <div class="courses-items-list" *ngIf="courses.length; else noData">
      <app-course
        *ngFor="let course of courses | orderBy"
        [course]="course"
        (deleteById)="onDelete($event)"
      ></app-course>
    </div>
    <ng-template #noData>
      <div class="courses-items-no-data">
        NO DATA. FEEL FREE TO ADD NEW COURSE
      </div>
    </ng-template>
  </div>
</div>
